* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

:root {
  font-size: 62.5%;

  --color-base-purple: #b52184;
  --linear-gradient-blue: linear-gradient(96deg, #343193 0%, #302c63 99.68%);
}

body {
  min-width: 320px;
}

body header,
.topics,
#my-form {
  padding-inline: 3rem;
}

body img {
  max-width: 100%;
}

body h1,
#my-form legend {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--color-base-purple);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > img {
  max-height: 40rem;
  object-fit: contain;
  margin-bottom: 1.7rem;
}

header p {
  margin: 0.5rem 0 3.5rem;
  font-size: 2rem;
  font-weight: 600;
}

header a {
  max-width: 6rem;
  margin-bottom: 9rem;
  opacity: 0.5;
  transition: all 1s;
}

header a:hover {
  opacity: 1;
}

#principal {
  padding: 5rem 3rem;
  background: var(--linear-gradient-blue);
}

.topics-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.topics {
  max-width: 36rem;
  padding: 2.5rem;
  background-color: white;
  border-radius: 2rem;
  opacity: 0.9;
  transition: all 1s;
}

.topics:hover {
  transform: scale(1.1);
  opacity: 1;
}

.topics img {
  height: 8rem;
}

.topics h1 {
  margin-block: 3.3rem 1.9rem;
  font-size: 3rem;
}

.topics p {
  font-size: 1.6rem;
  font-weight: 600;
}

.form-img-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.form-img-wrapper > img {
  position: absolute;
  opacity: 0;
}

#my-form fieldset {
  margin-block: 7rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  border: none;
}

#my-form fieldset legend {
  margin-bottom: 4rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-wrapper img {
  height: 2.4rem;
  position: absolute;
  top: 1.2rem;
  left: 1.4rem;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.input-wrapper input,
.input-wrapper textarea {
  height: 5rem;
  padding: 1.2rem 1.6rem 1.2rem 5rem;
  border: 1.5px solid var(--color-base-purple);
  border-radius: 16px;
}

#my-form input:invalid {
  border: 1px solid red;
}

.input-wrapper input::placeholder,
.input-wrapper textarea::placeholder {
  font-size: 1.6rem;
  line-height: 140%;
}

.input-wrapper textarea {
  height: 13rem;
  padding: 1.2rem 1.6rem;
  resize: none;
}

.submit-wrapper input {
  padding: 1.6rem;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: white;
  border: none;
  border-radius: 16px;
  background: var(--linear-gradient-blue);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  background: var(--linear-gradient-blue);
}

/*animations*/
header > img {
  animation: astronaut-appear 2s;
}

header a {
  animation: arrow-link 2s linear infinite;
}

@keyframes astronaut-appear {
  from {
    transform: translateY(-100%);
  }
}

@keyframes arrow-link {
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
